.html {
    width: 33.333%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #FF6600;
}
.css {
    width: 33.333%;
    height: 100%;
    position: absolute;
    left: 33.333%;
    top: 0;
    background-color: dodgerblue;
}
.javascript {
    width: 33.333%;
    height: 100%;
    position: absolute;
    left: 66.666%;
    top: 0;
    background-color: yellow;
}

.svg{
    /* centreren */
    position: relative;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    top: 50%;

    /* grootte instellen */
    width: 300px;
    height: 600px;


}

