
body{
    font-family: Verdana, sans-serif;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
}

h1{
    font-variant: petite-caps;
    color: red;
}

a:hover{
    border: 1px solid maroon;
}

.stippeltjesrand{
    border: 2px dotted blue;
}