article{
    border: 1px solid black;
    margin: 10px;
    display: inline-block;
}

img{
    margin: 10px;
}

p{
    font-size: 1.25em;
}

article:nth-child(even) img{
    float: right;
}
article:nth-child(odd)  img{
    float: left;
}
